:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.top {
  z-index: 2;
  position: relative;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
  }
}

.content {
  z-index: 2;
  position: relative;

  p {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
}

ngx-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
